<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.title', resource: resource_class.model_name.human , default: "Edit #{resource_name.to_s.humanize}") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-group">
         <%= f.label :image %>
         <%= f.file_field :image, class: 'filestyle', "data-buttonText": "Choose file", "data-buttonBefore": "true", "data-placeholder": "No file" %>
       </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.label :card_no %>
          <%= f.text_field :card_no, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it") %>)</i>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
       <div class="form-group">
        <%= f.label :Telephone %>
        <%= f.text_field :telephon, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :card_no %>
          <%= f.text_field :card_no, autofocus: true, class: 'form-control' %>
        </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes') %>)</i>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label><%= f.radio_button :role, "teacher", onclick: "entryChange1();" %> teacher &emsp;</label>
        <label><%= f.radio_button :role, "student", checked: true, id:"student", onclick: "entryChange1();" %> student &emsp;</label>
        <label><%= f.radio_button :role, "admin",onclick: "entryChange1();" %> admin </label>
      </div>
       <div id="studentBox">
        <div class="form-group">
        <%= f.label :number %>
        <%= f.number_field :number, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label :class %>
        <%= f.number_field :class_rooom, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label :studentid %>
        <%= f.number_field :studeniid , autofocus: true, class: 'form-control' %>
        </div>
      </div>
      <div id="teacherBox">
        <div class="form-group">
          <!--<%= f.label :name %>-->
          <!--<%= f.text_field :name, autofocus: true, class: "form-control" %>-->
        </div>
      </div>
      <%= f.submit t('.update', default: 'Update'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<p><%= t('.unhappy', default: 'Unhappy') %>? <%= link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>.</p>

<%= link_to t('.back', default: 'Back'), :back %>

<script type="text/javascript">
	function entryChange1(){
		radio = document.getElementsByName("user[role]") 
		if(radio[0].checked) {
			document.getElementById('studentBox').style.display = "none";
			document.getElementById('teacherBox').style.display = "";
		} else if(radio[1].checked) {
			document.getElementById('studentBox').style.display = "";
			document.getElementById('teacherBox').style.display = "none";
		} else if(radio[2].checked) {
		  document.getElementById('studentBox').style.display = "none";
			document.getElementById('teacherBox').style.display = "none";
		}
	}
	window.onload = entryChange1;
</script>