<%= bootstrap_form_for(@rental) do |f| %>
  <%= f.date_select :rental_date, :disabled => @can_update %>
<%= f.date_select :due_date, :disabled => @can_update %>
   <% if can? :change_status, Rental %>
    <% if @rental.status == "application" %>
      <%= f.select :status, {"Application" => "application", "Approval" => "approval", "Reject" => "reject"}, {}, {class: "form-control"} %>
    <% elsif @rental.status == "approval" %>
      <%= f.select :status, {"Approval" => "approval", "Reject" => "reject"}, {}, {class: "form-control"} %>
    <% elsif @rental.status == "reject"  %>
      <%= f.select :status, {"Approval" => "approval","Reject" => "reject"}, {}, {class: "form-control"} %>
    <% else %>
      <%= f.select :status, {}, {}, {disabled: true, class: "form-control"} %>
    <% end %>
    <%= f.select :rack_no, Rental.rack_nos.keys, {}, {class: "form-control"} %>
  <% end %>
  <b>Labware_detail</b>
  <div class="container">
  <% @rental_details.each_with_index do |rental_detail, i| %>
    <% if i % 4 == 0 %>
      <div class="row">
    <% end %>
    <%= render 'rentals/edit_rental_detail_row', labware: rental_detail.labware, rental_detail: rental_detail, show_total: true %>
    <% if (i + 1) % 4 == 0 %>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= f.primary "OK" %>
<% end %>