<% if can? :change_status, Rental %>
  <%= bootstrap_form_for(@rental) do |f| %>
  <%= f.date_select :rental_date, :disabled => true %>
  <%= f.date_select :due_date, :disabled => true %>
  <% if @rental.status == "application" || @rental.status == "approval" || @rental.status == "reject"  %>
  <%= f.select :status, {"Application" => "application", "Approval" => "approval", "Reject" => "reject"}, {}, {class: "form-control"} %>
  <% else %>
  <%= f.select :status, {}, {}, {disabled: true, class: "form-control"} %>
  <% end %>
  <b>Labware_detail</b>
  <%= link_to_add_association 'Add Labware', f, :rental_details,
        class: 'btn btn-default',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }, :disabled => @can_update %>
  <table class="table table-list">
    <thead>
      <tr>
        <th>Labware</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>

    <tbody id='detail-association-insertion-point'>
    <div class="form-group">
    <%= f.fields_for :rental_details do |od| %>
      <%= render 'rental_detail_fields', f: od %>
    <% end %>
        </div>
    </tbody>
    </table>
  <%= f.primary "OK" %>
  <% end %>
<% else %>
  <%= bootstrap_form_for(@rental) do |f| %>
  <%= f.date_select :rental_date %>
  <%= f.date_select :due_date %>
  <b>Labware details</b>
  <%= link_to_add_association 'Add Labware', f, :rental_details,
        class: 'btn btn-default',
        data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' },:disabled => @can_update
  %>
  <table class="table table-list">
    <thead>
      <tr>
        <th>Labware</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>

    <tbody id='detail-association-insertion-point'>
    <div class="form-group">
    <%= f.fields_for :rental_details do |od| %>
      <%= render 'rental_detail_fields', f: od %>
    <% end %>
        </div>
    </tbody>
    </table>
  <%= f.primary "OK" %>
  <% end %>
<% end %>