<% if data == "application" %>
<span class="text-warning text-center"><%= data %></span>
<% elsif data == "approval" %>
<span class="text-primary text-center"><%= data %></span>
<% elsif data == "reject" %>
<span class="text-danger text-center"><%= data %></span>
<% elsif data == "lending" %>
<span class="text-success text-center"><%= data %></span>
<% elsif data == "returned" %>
<span class="text-muted text-center"><%= data %></span>
<% end %>