<h1>Rental Details</h1>

<table class="table table-bordered">
  <tbody>
    <% if !@rental.User.nil? %>
    <tr>
      <td width="100", class="info">Pictures</td> 		
      <td><%= image_tag(@rental.User.image.url, alt: 'Image', size: '200x200') if @rental.User.image? %></td>		
      </tr>		
      <tr>
    <td width="100", class="info">Name</td> <td><%= @rental.User.name %></td>
    </tr>
    <tr>
    <td width="100", class="info">Number</td> <td><%= @rental.User.number %></td>
    </tr>
    <tr>
    <td width="100", class="info">Classroom</td> <td><%= @rental.User.class_rooom %></td>
   </tr>		
   <tr>		
   <td width="100", class="info">Student ID</td> <td><%= @rental.User.studentid %></td>		
   </tr>		
   <tr>		
   <td width="100", class="info">Rental date</td> <td><%= @rental.rental_date.in_time_zone('Bangkok').to_s(:date_on) %></td>		
   </tr>		
   <tr>		
   <td width="100", class="info">Rental due</td> <td><%= @rental.due_date.in_time_zone('Bangkok').to_s(:date_on) %></td>
    </tr>
    <% end %>
    <tr>
      <td width="100", class="info">Labwares</td>
      <td>
        <table>
          <thead>
            <tr>
              <th>name</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @rental.rental_details.each do |i| %>
            <tr>
              <td><%= i.labware.name %></td>
              <td><%= i.quantity %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
    <td width="100", class="info">Status</td> 
    <td>
      <%= render 'status_view', data: @rental.status %>
    </td>
    </tr>
    <tr>		
   <td width="100", class="info">Rack no</td> <td><%= @rental.rack_no %></td>		
   </tr>
  </tbody>
</table>