<div class="col-md-4">
  <div class="well">
  <h2><%= link_to labware.name, labware_path(labware.id) %></h2>
  <div class="col-sm-1"></div>		
  <div class="col-sm10">  		
    <div class="text-center">		
      <%= image_tag(labware.image.url, alt: 'Image', size: '140x180') if labware.image? %>		
    </div>		
  </div>		
  <div class="col-sm-1">	</div> 
  </br>
<% if can? :create, Rental %> 
  <p>
    <%= form_for rental_detail, remote: true do |f| %>
    <div class="input-group">
      <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: labware.quantity - labware.circulation %>
      <div class="input-group-btn">
        <%= f.hidden_field :labware_id, value: labware.id %>
        <%= f.submit "Add to Cart", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </p>
  <% elsif can? :upgrate , Labware%>
    <%= link_to 'Edit', edit_labware_path(labware.id), class: "btn btn-success" %>
    <%= link_to 'Delete', labware, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
  </div>
</div>